certifi==2024.2.2
charset-normalizer==3.3.2
chirptext==0.1.2
fugashi==1.3.0
idna==3.6
jamdict==0.1a11.post2
jamdict_data==1.5
plac==1.4.2
puchikarui @ git+https://github.com/letuananh/puchikarui@6616d6fb9f131f2489ee3067fd981a19943e095f
requests==2.31.0
simple-term-menu==1.6.4
srt==3.5.3
tqdm==4.66.2
unidic==1.1.0
unidic-lite==1.0.8
urllib3==2.2.0
wasabi==0.10.1
